<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- Local UI fixtures only; excluded from release builds. -->
        <activity
            android:name="takagi.ru.monica.debug.DesignAuditActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:label="Etoile UI samples" />
        <activity android:name="androidx.activity.ComponentActivity" tools:node="remove" />
        <activity android:name="androidx.compose.ui.tooling.PreviewActivity" tools:node="remove" />
    </application>

</manifest>
